# Data manipulation
pandas==2.3.3
numpy==1.26.4

# Scraping & NLP
google-play-scraper==1.2.5
torch>=2.3.0
transformers>=4.38.0
spacy>=3.7.0
nltk>=3.8.1
textblob==0.17.1
vaderSentiment==3.3.2

# Machine Learning & Visualization
scikit-learn==1.7.2
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.5.0
wordcloud==1.9.3

# Jupyter & Utilities
jupyter==1.0.0
tqdm>=4.66.0
python-dotenv==1.2.1

# Database
psycopg2-binary==2.9.7
sqlalchemy==2.0.19
